html,body{
	color:#CCC;
	margin:0 auto;
	min-width: 677px;
	padding:0;
	height: 100%;
	background:rgb(30,30,30);
}
a{
	color:rgba(255,25,0,.7);
	transition:all .5s ease;
}
a:hover{
	color:rgba(255,25,0,1);
	transition:all .5s ease;
}
/* MAIN SITE-SECTION */
#header{
	-moz-user-select:none;
	-webkit-user-select:none;
	-user-select:none;
	background:rgb(30,30,30);
	border-bottom:2px solid rgb(21,21,21);
	height: 50px;
	width: 100%;
	cursor: default;
}
.title{
	color:#FFF;
	float:left;
	font-family:"Freestyle Script";
	font-size:43px;
	line-height: 50px;
	margin: 0;
	text-align: left;
}
#nav-filter-menu{
	color:#FFF;
	float:right;
	font-family:"Freestyle Script";
	font-size: 40px;
	line-height: 50px;
	margin:0;
	padding:0;
	list-style:none;
}
#nav-filter-menu li{
	margin-right:7px;
	margin-left:7px;
	float:left;
	text-decoration:none;
	transition:all .5s ease;
}
#nav-filter-menu li a{
	text-decoration:none;
	color:#FFF;
}
#nav-filter-menu li:hover{
	color:rgb(255,25,0);
	cursor: pointer;
	transition:all .5s ease;
}
#nav-filter-menu li:hover a{
	color:rgb(255,25,0);
}
#nav-filter-menu #search-button{
	width: 41px;
	height: 41px;
	margin-top: 5px;
}
#search-button-svg{
	fill:#FFF;
	transition:all .5s ease;
	width: 32px;
	height: 32px;
}
#nav-filter-menu #search-button:hover #search-button-svg{
	fill:rgb(255,25,0);
	width:36px;
	height:36px;
	transition:all .5s ease;
}
#content{
	background:rgb(30,30,30);
	opacity:0;
	max-width:100%;
	overflow-x:hidden;
	overflow-y:auto;
	padding: 10px;
	z-index: 1;
}
#content::after{
	content: "";
	display:block;
	clear:both;
	height: 0;
}
#subtitle{
	background: rgb(50,50,50);
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
#footer{
	opacity:0;
	-moz-user-select:none;
	-webkit-user-select:none;
	-user-select:none;
	background:rgb(30,30,30);
	border-top:2px solid rgb(21,21,21);
	color:#FFF;
	height: 45px;
	line-height:40px;
	text-align: center;
	width:100%;
	cursor: default;
	font-family: Calibri;
}
@media only screen and (max-width : 747px) {
	#nav-filter-menu{
		font-size:34px;
	}
}